
.navbar{
    box-shadow: 2px 3px 4px rgba(0,0,0,0.06);
}
.navbar.scrollBg{
    background-color: rgba(55, 55, 55, 0.815) !important;
}

@media only screen and (max-width: 768px) {
    nav{
        background: rgba(55, 55, 55, 0.815) !important;
    }
    footer{
        text-align: center;
    }
}
